body {
    margin: 0;
    padding: 0;
    background: url("image/1.png") center/cover fixed no-repeat;
    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.401);
        width: 100%;
        height: 400vh;
        z-index: 0;
    }
}

section {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.box {

    width: 300px;
    padding: 25px;
    font-size: 22px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    border: 5px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(100px);
    transition: .8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease, opacity 0.8s ease;

    &:nth-child(odd) {
        align-self: flex-start;
        margin-left: 50px;
    }

    &:nth-child(even) {
        align-self: flex-end;
        margin-right: 50px;
    }
}

.fade-up {
    transform: translateY(-200px);
}

.fade-up.show {
    transform: translateY(0);
    opacity: 1;
}

.fade-down {
    transform: translateY(200px);
}

.fade-down.show {
    transform: translateY(0);
    opacity: 1;

}

.fade-right {
    transform: translateX(-200px);
}

.fade-right.show {
    transform: translateX(0);
    opacity: 1;

}

.fade-left {
    transform: translateX(200px);
}

.fade-left.show {
    transform: translateX(0);
    opacity: 1;

}

.flip-up {
    transform: perspective(400px) rotateX(90deg)
}

.flip-up.show {
    transform: rotateX(0);
    opacity: 1;

}

.flip-down {
    transform: perspective(400px) rotateX(-90deg)
}

.flip-down.show {
    transform: rotateX(0);
    opacity: 1;

}

.flip-right {
    transform: perspective(400px) rotatey(90deg)
}

.flip-right.show {
    transform: rotatey(0);
    opacity: 1;

}

.flip-left {
    transform: perspective(400px) rotatey(-90deg)
}

.flip-left.show {
    transform: rotatey(0);
    opacity: 1;

}

.zoom-in {
    transform: scale(0);
}

.zoom-in.show {
    transform: scale(1);
    opacity: 1;

}

.zoom-out {
    transform: scale(1);
}

.zoom-out.show {
    transform: scale(0);
    opacity: 1;

}



